*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;

    input:focus, textarea:focus, select:focus, button:focus{
        outline-style: none;
    }

    ul{
        list-style-type: none;
    }

    a{
        text-decoration: none;
    }
}

html {
    scroll-behavior: smooth;
  }

body{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    position: relative;
    background-image: url(../images/background.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width:1024px) {
    body{
        background-position: 70%;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track-piece {
    background-color: var(--background-gray);
  }
  
  ::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #666666;
  }
  
  ::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #666666;
  }

:root{
    --text-gray: #D2D2D2;
    --text-white: #FFFFFF;
    --text-black: #333333;
    --green-button: #80FF6D;
    --blue-button: #4EEAFF;
    --background-gray: #FAFAFA;
    --background-gray-dark: #D6D6D6;
}

#header-container{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #D2D2D2;
    padding: 0 20px;
    z-index: 1;

    .header-itens{
        max-width: 1100px;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0 auto;
        position: relative;

        img{
            height: 60px;
            margin-right: 30px;
        }

        h2{
            color: var(--text-gray);
            font-weight: 400;
            font-size: 1.5rem;
        }

        .menu-button{
            position: absolute;
            right: 0;
            
            .fa-bars{
                display: none;
            }

            .menu-itens{
    
                ul{
                    display: flex;
                    height: 30px;
    
                    li{
                        border-radius: 15px;
                        height: 100%;
                        display: flex;
                        align-items: center;
    
                        a{
                            color: var(--text-gray);
                            padding: 20px;
                            font-size: 1.125rem;
                            text-shadow: 0px 0px 20px #000000;
                        }
                    }
                    
                    .green-iten{
                        background-color: var(--green-button);
                        box-shadow: 0px 0px 20px #000000;
                        -moz-box-shadow: 0px 0px 20px #000000;
                        -webkit-box-shadow: 0px 0px 20px #000000;
                        a{
                            color: var(--text-black);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    #header-container{
        height: 80px;

        .header-itens{
            img{
                height: 50px;
                margin-right: 30px;
            }
    
            h2{
                display: none;
            }

            .menu-button{
                position: absolute;
                right: 0;

                .fa-bars{
                    display: flex;
                }

                a{
                    i{
                        font-size: 2rem;
                        color: var(--text-gray);
                    }
                }
                .menu-itens{
                    display: none;
                    position: absolute;
                    right: -20px;
                    top: -25px;
                    height: 350px;
                    width: 250px;
                    background: var(--text-black);
                    border-radius: 0 0 0 30px;
        
                    ul{
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
        
                        li{
                            border-radius: 15px;
                            height: 30px;
                            margin: 20px 0;
                            display: flex;
                            align-items: center;
        
                            a{
                                color: var(--text-gray);
                                padding: 20px;
                                font-size: 1.125rem;
                                text-shadow: 0px 0px 20px #000000;
                            }
                        }
                        
                        .green-iten{
                            background-color: var(--green-button);
                            box-shadow: 0px 0px 20px #000000;
                            -moz-box-shadow: 0px 0px 20px #000000;
                            -webkit-box-shadow: 0px 0px 20px #000000;
                            a{
                                color: var(--text-black);
                            }
                        }
                    }
                }
            }
            .menu-button:hover{
                .menu-itens{
                    display: flex;
                }
            }
        }
    }
}

.menu-background{
    background-color: var(--text-black);
}

#main-container{

    #introduction{
        max-width: 1100px;
        margin: 0 auto;
        height: calc(100vh - 100px);
        display: flex;
        justify-content: center;
        align-items: center;
    
        .container-introduction{
            width: 100%;
            height: 60%;
            margin: 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
    
            h3{
                color: var(--text-white);
                font-size: 4rem;
    
                i{
                    color: var(--text-white);
                    font-size: 4rem;
                }
    
                .blink{
                    animation: blinker 2s infinite;
                }
    
                @keyframes blinker{
                    0% { opacity: 0; }
                    25% { opacity: 0.5; }
                    50% { opacity: 1; }
                    75% { opacity: 0.5; }
                    100% { opacity: 0; }
                }
            }
    
            p{
                color: var(--text-white);
                font-size: 1.5rem;
            }
    
            h2, h3, i, .blink{
                text-shadow: 0px 0px 20px #000000;
            }
    
            a{
                margin: 20px 0;
                color: var(--text-black);
                line-height: 30px;
                width: 120px;
                height: 30px;
                text-align: center;;
                background-color: var(--blue-button);
                box-shadow: 0px 0px 20px #000000;
                -moz-box-shadow: 0px 0px 20px #000000;
                -webkit-box-shadow: 0px 0px 20px #000000;
                border-radius: 15px;
            }
        }
        @media screen and (max-width:768px) {
            .container-introduction{
                h3{
                    font-size: 3rem;

                    i{
                        font-size: 3rem;
                    }
                }
            }
        }
    }
    @media screen and (max-width:1024px) {
        #introduction{
            align-items: flex-start;
        }
    }

    @media screen and (max-width:768px) {
        #introduction{
            align-items: center;
        }
    }
    
    #about{
        width: 100%;
        height: calc(100vh - 100px);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--background-gray);
    
        .container-about{
            max-width: 1100px;
            height: 60%;
            margin: 0 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .img{
                max-width: 40%;
                height: 100%;
                padding: 0 15px;
                display: flex;
                align-items: center;
                

                img{
                    width: 100%;
                    box-shadow: 0px 0px 20px #000000;
                    -moz-box-shadow: 0px 0px 20px #000000;
                    -webkit-box-shadow: 0px 0px 20px #000000;
                    border-radius: 10px;
                }
            }

            .text{
                max-width: 60%;
                height: 100%;
                padding: 0 15px;
                color: var(--text-black);
                display: flex;
                flex-direction: column;
                justify-content: center;

                h2{
                    font-size: 2.5rem;
                    position: relative;

                    :after{
                        width: 100px;
                        height: 3px;
                        background: var(--text-black);
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }

                    .green{
                        font-size: 2.5rem;
                        color: var(--green-button);
                    }
                }

                h3{
                    font-size: 2rem;
                    padding-bottom: 10px;
                    margin-top: 20px;
                }

                p{
                    font-size: 1.125rem;

                    span{
                        font-size: 1.125rem;
                        font-weight: 600;
                    }
                }
            }
        }
        @media screen and (max-width:768px) {
            .container-about{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 20px 0;

                .img{
                    width: 30%;
                    height: 25%;
    
                    img{
                        border-radius: 50%;
                        box-shadow: 0px 0px 100px #000000;
                        -moz-box-shadow: 0px 0px 100px #000000;
                        -webkit-box-shadow: 0px 0px 100px #000000;
                        border-radius: 50%;
                    }
                }

                .text{
                    max-width: 100%;
                    height: 55%;
                    padding: 15px 15px;

                    h2{
                        font-size: 2rem;
                        position: relative;
    
                        :after{
                            width: 80px;
                            height: 2px;
                            background: var(--text-black);
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: 0;
                        }
    
                        .green{
                            font-size: 2rem;
                            color: var(--green-button);
                        }
                    }
    
                    h3{
                        font-size: 1.5rem;
                        padding-bottom: 10px;
                        margin-top: 20px;
                    }

                    p{
                        font-size: 1rem;
    
                        span{
                            font-size: 1rem;
                            font-weight: 600;
                        }
                    }
                    @media screen and (max-width:400px) {
                        p{
                            font-size: 0.8rem;
        
                            span{
                                font-size: 0.8rem;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1024px) {
        #about{
            height: 50vh;
            padding: 15px 0;
        }
    }

    @media screen and (max-width: 768px) {
        #about{
            height: 60%;
            padding: 15px 0;
        }
    }

    #projects{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--background-gray-dark);

        .container-projects{
            max-width: 1100px;
            margin: 40px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            text-align: center;

            h2{
                width: 100%;
                margin: 20px;
                font-size: 2.5rem;
                position: relative;
                color: var(--text-black);
            }

            .box-project{
                width: 50%;
                padding: 20px 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: relative;

                .link-project{
                    position: absolute;
                    opacity: 0;
                    width: 90%;
                    justify-content: center;
                    align-items: center;

                    a{
                        color: var(--text-black);
                        font-size: 150%;
                        text-shadow: 0 0 10px #000000;
                        font-weight: 600;
                    }
                }

                img{
                    width: 90%;
                    border-radius: 10px;

                }
            }:hover img{
                box-shadow: 0px 0px 20px #000000;
                -moz-box-shadow: 0px 0px 20px #000000;
                -webkit-box-shadow: 0px 0px 20px #000000;
                opacity: 0.1;
                transition: all 0.3s linear;
            }

            :hover .link-project{
                opacity: 1;
                transition: all 0.5s ease-in;
            }

            .right{
                justify-content: flex-end;
            }
        }
        @media screen and (max-width: 768px) {
            .container-projects{
                margin: 20px 20px;

                h2{
                    font-size: 2rem;
                }
            }
        }
    }

    #footer{
        width: 100%;
        height: 150px;
        background: var(--text-black);
        display: flex;
        justify-content: center;
        align-items: center;

        .container-footer{
            width: 100%;
            height: 100%;
            text-align: center;

            .social-medias{
                padding-bottom: 30px;

                ul{
                    display: flex;
                    justify-content: center;
    
                    li{
                        padding: 20px;
    
                        a{
                            i{
                                color: var(--text-gray);
                                font-size: 3rem;
                            }
                        }
                    }
                }
            }

            p{
                color: var(--text-gray);
                padding-top: 5px;
            }
        }    
    }
    @media screen and (max-width: 768px) {
        #footer{
            height: 100px;

            .container-footer{
                .social-medias{
                    padding-bottom: 0;

                    ul{
                        li{
                            a{
                                i{
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
